@page "/startupprofiles"

<MudDialog DefaultFocus="DefaultFocus.FirstChild" @bind-IsVisible="_isCreateOrUpdateDialogVisible" Options="_dialogOptions">
	<DialogContent>
		<MudForm @ref="_createOrUpdateForm" @bind-IsValid="_isValidCreateOrUpdateForm" @onkeypress="SubmitOnEnterPress">
			<MudTextField @bind-Value="EditModel.Name" Required="true" Immediate="true" Label="Name" />
			<MudSelect
				T="Model.AvailableAppSetup"
				Label="App Setups"
				MultiSelection="true"
				SelectedValuesChanged="(x) => EditModel.AppSetupIds = x.Select(x => x.Id)">
				
				@foreach (var appSetup in _model.AvailableAppSetups)
				{
					<MudSelectItem Value="@appSetup">@appSetup.Name</MudSelectItem>
				}
			</MudSelect>
		</MudForm>
	</DialogContent>
	<DialogActions>
		<MudButton OnClick="CancelCreateOrUpdateDialog">Cancel</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitCreateOrUpdate">@(EditModel.Id is null ? "Create" : "Update")</MudButton>
	</DialogActions>
</MudDialog>

<MudCard Class="m-4">
	<MudCardHeader>
		<CardHeaderContent>
			<div class="flex justify-between">
				<MudText Typo="Typo.h5">Startup Profiles</MudText>
				<MudButton StartIcon="@Icons.Material.Filled.Add" @onclick="OpenCreateDialog" Variant="Variant.Filled" Color="Color.Primary">
					Create New
				</MudButton>
			</div>
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent>
		<MudTable Items="@_model.StartupProfiles" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading"
			LoadingProgressColor="Color.Info">
			<HeaderContent>
				<MudTh>#</MudTh>
				<MudTh>Name</MudTh>
				<MudTh>AppSetups</MudTh>
				<MudTh>Actions</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="#">@(_model.StartupProfiles.IndexOf(context) + 1)</MudTd>
				<MudTd DataLabel="Name">@context.Name</MudTd>
				<MudTd DataLabel="AppSetups">@string.Join(", ", context.AppSetupIds)</MudTd>
				<MudTd DataLabel="Actions" Class="flex">
					<div>
						<MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" OnClick="(() => OpenEditDialog(context))"></MudIconButton>
						<MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="(() => SubmitDelete(context))"></MudIconButton>
					</div>
				</MudTd>
			</RowTemplate>
		</MudTable>
	</MudCardContent>
</MudCard>
