@page "/appsetups"

<MudDialog DefaultFocus="DefaultFocus.FirstChild" @bind-IsVisible="_isCreateOrUpdateDialogVisible" Options="_dialogOptions">
	<DialogContent>
		<MudForm @ref="_createOrUpdateForm" @bind-IsValid="_isValidCreateOrUpdateForm" @onkeypress="SubmitOnEnterPress">
			<MudTextField @bind-Value="EditModel.Name" Required="true" Immediate="true" Label="Name" />
			<MudTextField @bind-Value="EditModel.Path" Required="true" Immediate="true" Label="Path" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.FolderOpen" OnAdornmentClick="@(() => PickPath())" />
			<MudTextField @bind-Value="EditModel.Arguments" Label="Arguments" />
		</MudForm>
	</DialogContent>
	<DialogActions>
		<MudButton OnClick="CancelCreateOrUpdateDialog">Cancel</MudButton>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitCreateOrUpdate">@(EditModel.Id is null ? "Create" : "Update")</MudButton>
	</DialogActions>
</MudDialog>

<MudCard Class="m-4">
	<MudCardHeader>
		<CardHeaderContent>
			<div class="flex justify-between">
				<MudText Typo="Typo.h5">App Setups</MudText>
				<MudButton StartIcon="@Icons.Material.Filled.Add" @onclick="OpenCreateDialog" Variant="Variant.Filled" Color="Color.Primary">
					Create New
				</MudButton>
			</div>
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent>
		<MudTable Items="@_model.AppSetups" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading"
			LoadingProgressColor="Color.Info">
			<HeaderContent>
				<MudTh>#</MudTh>
				<MudTh>Name</MudTh>
				<MudTh>Path</MudTh>
				<MudTh>Arguments</MudTh>
				<MudTh>Actions</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="#">@(_model.AppSetups.IndexOf(context) + 1)</MudTd>
				<MudTd DataLabel="Name" Class="max-w-xs whitespace-nowrap text-ellipsis overflow-hidden">@context.Name</MudTd>
				<MudTd DataLabel="Path" Class="max-w-xs whitespace-nowrap text-ellipsis overflow-hidden">@context.Path</MudTd>
				<MudTd DataLabel="Arguments">@context.Arguments</MudTd>
					<MudTd DataLabel="Actions" Class="flex">
					<div>
						<MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" OnClick="(() => OpenEditDialog(context))"></MudIconButton>
						<MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="(() => SubmitDelete(context))"></MudIconButton>
					</div>
				</MudTd>
			</RowTemplate>
		</MudTable>
	</MudCardContent>
</MudCard>
