@page "/appsetups"

<MudCard class="ma-4">
	<MudCardHeader>
		<CardHeaderContent>
			<MudText Typo="Typo.h5">App Setups</MudText>
		</CardHeaderContent>
	</MudCardHeader>
	<MudCardContent>
		<MudButton @onclick="OpenCreateDialog" Variant="Variant.Filled" Color="Color.Primary">
			Create App Setup
		</MudButton>
		<MudTable Items="@_model.AppSetups" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading"
			LoadingProgressColor="Color.Info">
			<HeaderContent>
				<MudTh>#</MudTh>
				<MudTh>Name</MudTh>
				<MudTh>Path</MudTh>
				<MudTh>Arguments</MudTh>
				<MudTh>Actions</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd>@(_model.AppSetups.IndexOf(context)+1)</MudTd>
				<MudTd DataLabel="Name">@context.Name</MudTd>
				<MudTd DataLabel="Path" Style="max-width: 20rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden">@context.Path</MudTd>
				<MudTd DataLabel="Arguments">@context.Arguments</MudTd>
				<MudTd DataLabel="Actions" Class="d-flex justify-sm-space-between">
					<div>
						<MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" OnClick="(() => OpenEditDialog(context))"></MudIconButton>
						<MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="(() => Delete(context))"></MudIconButton>
					</div>
				</MudTd>
			</RowTemplate>
		</MudTable>
	</MudCardContent>
</MudCard>
